<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- external CSS link -->
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/styles.css">

   <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Inconsolata|Lato|News+Cycle" rel="stylesheet">

  <title>Gyaza Login</title>
</head>
<body>
  <div class="whole-page-container">
    <header class="clearfix">
      <nav>
        <a href="login" class="log-in"><img src="images/iconmonstr-log-in-3-32.png"/></a>
        <a href="login" class="log-out"><img src="images/iconmonstr-log-out-9-32.png"/></a>
        <a href="profile" class="profile-page"><img src="images/iconmonstr-user-20-32.png"/></a>
        <a href="#" class="create-new-project"><img src="images/iconmonstr-edit-11-32.png"/></a>
      </nav>
      <span class="logo">Gyaza</span>
      <h1>Log In</h1>
    </header>

    <div class="content">

      <form id="Login-form" action="/" method="post">
        <div class="field name-box">
          <input type="text" id="name" name="username" placeholder="Username"/>
        </div>
      <!-- <div class="field email-box">
          <label for="email">Email</label>
          <input type="text" id="email" placeholder="name@email.com" required/>
        </div> -->
        <div class="field password">
          <input type="password" id="password" name="password" placeholder="Password"/>
        </div>
        <input class="button" type="submit" value="Log In"/>
        <p>Need an account? <a id="btn sign-up" href="/signup">Sign Up</a></p>

      </form>
    </div><!--end of content-->
  </div> <!--end of tabs-container-->
</div> <!--end of whole-page-container-->
<div class="push"></div>
<footer class="clearfix">Made by: GerBear, CareBear, and SofaBear</footer>
<!--APPLICATION SCRIPTS-->
<script type="application/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>
