<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- external CSS link -->
  <link rel="stylesheet" href="public/styles/reset.css">
  <link rel="stylesheet" href="public/styles/normalize.css">
   <!--STYLESHEETS-->
  <link rel="stylesheet" href="public/styles/app.css">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Inconsolata|Lato|News+Cycle" rel="stylesheet">
  <!-- Add jQuery library -->
  <script type="application/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  <title>Profile Page</title>

</head>
<body>
  <h1>Project Portal</h1>
    <div class="tabs current-tab">
    </div>
    <div class ="tabs completed-tab">
    </div>
     <div class ="tabs profile-tab">
      <h1>Hi, User's Name</h1>
    </div>

  <button class="create-new">Create New Project</button>

<!--APPLICATION SCRIPTS-->
  <script src="scripts/app.js"></script>

</body>
</html>
