<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- external CSS link -->
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/styles.css">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Inconsolata|Lato|News+Cycle" rel="stylesheet">

  <title>Project Page</title>

</head>
<body class="Site">

  <div class="whole-page-container Site-content">
    <header class="clearfix">
      <nav>
        <a href="/" class="log-out"><img src="images/iconmonstr-log-out-9-32.png"/></a>
      </nav>
      <span class="logo"><a href="portal">Gyaza</a></span>
      <h1>Users's Projects</h1>
    </header>

  <div class="tabs">
    <nav>
      <ul>
        <li class="tab-current"><a href="portal">Current</a></li>
        <li class="tab-current"><a href="portal">Complete</a></li>
        <li class="tab-current"><a href="portal">Pending</a></li>
      </ul>
    </nav>

    <div class="chat-goals-container">

        <section class="chat chat-box">
          <div>
            <h3>Chat Room</h3>
            <ul id="messages"></ul>
            <form id='chatform' action="">
              <input id="m" autocomplete="off" /><button>Send</button>
            </form>
          </div>
        </section>

        <section class="goals">
          <div class="myDIV" id="myGoals">
            <h3>Goals:</h3>
              <input type="text" id="myInput" placeholder="Title...">
              <span onclick="" class="addBtn" id="ayy">Add</span>
            </div>
            <ul id="myUL">
            </ul>
        </section>

    </div><!--end of content-->
  </div> <!--end of tabs-container-->
</div> <!--end of whole-page-container-->
<!-- <div class="push"></div> -->
<footer class="clearfix">Made by: GerBear, CareBear, and SofaBear</footer>

<!--APPLICATION SCRIPTS-->
<script type="application/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="scripts/goals-script.js"></script>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>
