<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- external CSS link -->
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/normalize.css">
  <link rel="stylesheet" href="styles/styles.css">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Inconsolata|Lato|News+Cycle" rel="stylesheet">

  <title>Sign Up for Gyaza!</title>
</head>
<body>
 <div class="whole-page-container">
    <header class="clearfix">
 <!--      <nav>
        <a href="login" class="log-in"><img src="images/iconmonstr-log-in-3-32.png"/></a>
        <a href="#" class="create-new-project"><img src="images/iconmonstr-edit-11-32.png"/></a>
      </nav> -->
      <span class="logo">Gyaza</span>
      <h1>Sign Up</h1>
    </header>

  <div class="tabs">

    <div class="login-content">

      <form id="signup-form" action="/signup" method="post">
        <div class="field name-box">
          <input type="text" id="name" name="username" placeholder="Username"/>
        </div>
        <div class="field password">
          <input type="password" id="password" name="password" placeholder="Password"/>
        </div>
        <input class="button" type="submit" value="Send"/>
        <p>Already have an account? <a href="/">Login</a></p>

      </form>

    </div><!--end of content-->

  </div> <!--end of tabs-container-->

</div> <!--end of whole-page-container-->
<div class="push"></div>
<footer class="clearfix">Made by: GerBear, CareBear, and SofaBear</footer>
<!--APPLICATION SCRIPTS-->
<!-- Add jQuery library -->
<script type="application/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>
