body{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  background-image: url("../images/bears-logo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.whole-page-container{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 1em;
  font-weight: 300;
  background-color:rgba(255,255,255, 0.5);
}

/* header & nav*/
header{
  max-width: 69em;
  padding: 1.875em 1.875em 0.875em;
  font-size: 2em;
  color: #ff006e;
  box-sizing: border-box;
}

header .nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 2em;
  font-weight: 300;
}

header nav a {
  color: #ff006e;
  display: inline-block;
  font-size: 1em;
  line-height: 2.5;
  padding: 0 0.25em;
  white-space: nowrap;
  text-decoration: none;
}

header nav {
  text-align: center;
  float: right;
}

header nav a:hover {
  color: #e60063;
}

.logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}
header h1{
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0 0 0.6em 0;
  font-weight: 400;
}

/* tabs */
.tabs{
  margin: 0;
}

.tabs nav{
  text-align: center;
  box-sizing: border-box;
}

.tabs nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.tabs nav ul li {
  border: 1px solid #ff006e;;
  border-bottom: none;
  margin: 0 0.25em;
  display: block;
  float: left;
  position: relative;
}

.tabs nav li.tab-current {
  border: 1px solid #ff006e;
  box-shadow: inset 0 2px #ff006e;
  border-bottom: none;
  z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
  content: '';
  position: absolute;
  height: 1px;
  right: 100%;
  bottom: 0;
  width: 1000px;
  background: #ff006e;
}

.tabs nav li.tab-current:after {
  right: auto;
  left: 100%;
  width: 4000px;
}

.tabs nav ul li a{
  color: #ff006e;
  text-decoration: none;
  display: block;
  font-size: 1.25em;
  line-height: 2.5;
  padding: 0 1.25em;
  white-space: nowrap;
}

.tabs nav a:hover {
  color: #ffffff;
  background-color: #ff006e;
}

/* Content COVER*/
/*.content section {
  font-size: 1.25em;
  padding: 3em 1em;
  display: none;
  max-width: 1230px;
  margin: 0 auto;
}

.content section:before,
.content section:after {
  content: '';
  display: table;
}

.content section:after {
  clear: both;
}*/

/* content display Projet-portal*/
.content section {
  color: #ff006e;
  font-size: 1.25em;
  padding: 4em 1em;
  max-width: 1230px;
  margin: 0 auto;
}

.content section.content-current {
  display: block;
}

.content section:hover{
  background-color: rgba(255, 0, 110, 0.7);
  color: #ffffff;
}

.content section a{
  text-decoration: none;
  color: #ff006e;
}

.mediabox {
  width: 33%;
  padding: 0 25px;
}

.mediabox img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.mediabox h3 {
  margin: 0.75em 0 0.5em;
}

.mediabox p {
  padding: 0 0 1em 0;
  margin: 0;
  line-height: 1.3;
}
/*profile page*/
.user-info{
  font-family: 'Lato', sans-serif;
  padding: 15px;
  text-align: center;
  background-color:rgba(255,255,255, 0.5);
}

.user-info h3{
  text-align: center;
  font-size: 40px;
  color: #ff006e;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.user-info button{
  text-align: center;
  padding: 15px 30px;
  font-family: 'Lato', sans-serif;
  background-color: #ff006e;
  font-size: 20px;
  color: #ffffff;
}

.user-info button:hover{
  background-color: #ffffff;
  color:#ff006e;
  border: 1px solid #ff006e;
}

.profile{
  text-align: center;
}

/*projet page styling*/
.chat-goals-container{
  display: flex;
  flex: 2;
  flex-direction: row;
}

.chat-goals-container .chat{
  flex-direction: column-reverse;
  flex: 1;
}

.chat-goals-container .goals{
  flex-direction: column-reverse;
  flex: 1;
}

/*Sign Up sheet Content*/
 .content{
  font-family: 'Lato', sans-serif;
  text-align: center;
 }

 .content h2{
  text-align: center;
  font-size: 40px;
  color: #ff006e;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 100;
 }

label{
  font-family: "lato", sans-serif;
  font-size: 25px;
  padding: 15px 30px;
  font-weight: 300;
}
#signup-form{
  padding:15px;
  text-align: center;
}

form input[type="text"],form input[type="password"]{
  font-family: "lato", sans-serif;
  font-size: 25px;
  padding: 15px 30px;
  font-weight: 300;
  margin: 10px;
 }

form input[type="submit"]{
  background-color: #ff006e;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 3px;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: "lato", sans-serif;
  font-weight: 300;
  transition: all 333ms ease-in-out;
  text-align: center;
  margin: 10px;
}

form input[type="submit"]:hover{
  background-color: #ffffff;
  color: #ff006e;
  border: 1px solid #ff006e;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

form p{
  font-family: "lato", sans-serif;
  font-size: 20px;
}

form p a{
  text-decoration: none;
  color: #ff006e;
}

form p a:hover{
  color: #fc440f;
}

.push{
  padding:55px;
  background-color:rgba(255,255,255, 0.5);
}

/* Footer */
footer{
background-color: #ff006e;
color: white;
text-align: center;
padding: 1em 1em;
}

#clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
