body{
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  background-image: url("../images/bears-logo.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.whole-page-container{
  box-sizing: border-box;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  font-weight: 300;
  background-color:rgba(255,255,255, 0.5);
}

/* header & nav*/
header{
  max-width: 69em;
  padding: 1.875em 1.875em 0.875em;
  font-size: 2em;
  color: #ff006e;
  box-sizing: border-box;
}

header .nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 1em 0 2em;
  font-weight: 300;
}

header nav a {
  color: #ff006e;
  display: inline-block;
  font-size: 1em;
  line-height: 2.5;
  padding: 0 0.25em;
  white-space: nowrap;
  text-decoration: none;
}

header nav {
  text-align: center;
  float: right;
}

header nav a:hover {
  color: #e60063;
}

.logo{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em;
}

.logo a{
  text-decoration: none;
  color: #FF006e;
}

header h1{
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0 0 0.6em 0;
  font-weight: 400;
}

/* tabs */
.tabs{
  margin: 0;
}

.tabs nav{
  text-align: center;
  box-sizing: border-box;
}

.tabs nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.tabs nav ul li {
  border: 1px solid #ff006e;;
  border-bottom: none;
  margin: 0 0.25em;
  display: block;
  float: left;
  position: relative;
}

.tabs nav li.tab-current {
  border: 1px solid #ff006e;
  box-shadow: inset 0 2px #ff006e;
  border-bottom: none;
  z-index: 100;
}

.tabs nav li.tab-current:before,
.tabs nav li.tab-current:after {
  content: '';
  position: absolute;
  height: 1px;
  right: 100%;
  bottom: 0;
  width: 1000px;
  background: #ff006e;
}

.tabs nav li.tab-current:after {
  right: auto;
  left: 100%;
  width: 4000px;
}

.tabs nav ul li a{
  color: #ff006e;
  text-decoration: none;
  display: block;
  font-size: 1.25em;
  line-height: 2.5;
  padding: 0 1.25em;
  white-space: nowrap;
}

.tabs nav a:hover {
  color: #ffffff;
  background-color: #ff006e;
}

/* PORTAL*/
.project-portal-container{
  text-align: center;
}

.project-portal-container button:hover{
  background-color: #ffffff;
  color:#ff006e;
  border: 1px solid #ff006e;
}

.project-portal-container section:hover{
  background-color: rgba(255, 0, 110, 0.7);
  color: #ffffff;
}

.project-portal-container section a{
  text-decoration: none;
  color: #ff006e;
}

.project-portal-container .mediabox {
  padding: 2em 5em;
}

.project-portal-container .mediabox img {
  max-width: 100%;
  margin: 0 auto;
}

.project-portal-container .mediabox h3 {
  margin: 0.75em 0 0.5em;
}

.project-portal-container .mediabox p {
  padding: 0 0 1em 0;
  margin: 0;
  line-height: 1.3;
}

/*project page*/
.btn{
  text-align: center;
}

.btn button{
  padding: 15px 30px;
  font-family: 'Lato', sans-serif;
  background-color: #ff006e;
  font-size: 20px;
  color: #ffffff;
  margin: 1em;
}

.btn button:hover{
  background-color: #ffffff;
  color:#ff006e;
  border: 1px solid #ff006e;
}

.chat-goals-container{
  color: #ff006e;
  font-size: 1.25em;
  padding: 1em 1em;
  display: flex;
}

.chat-goals-container .chat{
 flex:1;
 border-right: 2px dotted #ff006e;
 margin-right:2em;
 padding-right:2em;
}

.chatform{
  background-color: #000000;
  padding: 3px;
  bottom: 0;
  width: 100%;
}

.chatform input{
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

.chatform button{
  width: 20%;
  background: rgb(120, 224, 225);
  border: none;
  padding: 10px;
}

.chat-box #messages{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.chat-box #messages li{
  padding: 5px 10px;
}

.chat-box #messages li:nth-child(odd){
  background-color: #eeeeee;
}

#myUL{
  margin: 0 auto;
  padding: 0;
}

#myUL li{
  position: relative;
  padding: 12px 8px 12px 17px;
  background-color: #eeeeee;
  font-size: 18px;
  transition: 0.2s;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
 }

 #myUL li:nth-child(odd){
  background-color: #f9f9f9;
 }

 #myUL li:hover{
  background-color: #ddd;
 }

 #myUL li.checked{
  background-color: #888;
  color: #fff;
  text-decoration: line-through;
 }

 #myUL li.checked::before{
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left:16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
 }

 #myUL .close{
  position:absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
 }

 #myUL .close:hover{
  background-color: #ff006e;
  color: #ffffff;
 }

.goals{
  padding: 0;
  margin: 0;
}

 #myGoals{
  color: #ffffff;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
 }

#myGoals h3{
  background-color: #ff006e;
  padding: 20px 30px;
  margin: 0;
}

 #myGoals:after{
  content: "";
  display: table;
  clear: both;
 }

 #myGoals input{
  border: none;
  width: 75%;
  padding:10px;
  float: left;
  font-size: 16px;
  box-sizing: border-box;
 }

 .addBtn{
  padding: 11px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
 }

 .addBtn:hover {
    background-color: #bbb;
}

/*Sign Up & Log in Content*/
 .login-content{
  font-family: 'Lato', sans-serif;
  text-align: center;
  min-height: 460px;
 }

 .login-content h2{
  text-align: center;
  font-size: 40px;
  color: #ff006e;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 100;
 }

label{
  font-family: "lato", sans-serif;
  font-size: 25px;
  padding: 15px 30px;
  font-weight: 300;
}

#signup-form{
  padding:15px;
  text-align: center;
}

form input[type="text"],form input[type="password"]{
  font-family: "lato", sans-serif;
  font-size: 25px;
  padding: 15px 30px;
  font-weight: 300;
  margin: 10px;
 }

form input[type="submit"]{
  background-color: #ff006e;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 3px;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: "lato", sans-serif;
  font-weight: 300;
  transition: all 333ms ease-in-out;
  text-align: center;
  margin: 10px;
}

form input[type="submit"]:hover{
  background-color: #ffffff;
  color: #ff006e;
  border: 1px solid #ff006e;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

form p{
  font-family: "lato", sans-serif;
  font-size: 20px;
}

form p a{
  text-decoration: none;
  color: #ff006e;
}

form p a:hover{
  color: #fc440f;
}

/*profile page*/
.user-info{
  font-family: 'Lato', sans-serif;
  padding: 15px;
  text-align: center;
  background-color:rgba(255,255,255, 0.5);
}

.user-info h3{
  text-align: center;
  font-size: 40px;
  color: #ff006e;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.user-info button{
  text-align: center;
  padding: 15px 30px;
  font-family: 'Lato', sans-serif;
  background-color: #ff006e;
  font-size: 20px;
  color: #ffffff;
}

.user-info button:hover{
  background-color: #ffffff;
  color:#ff006e;
  border: 1px solid #ff006e;
}

.profile{
  text-align: center;
}

.push{
  padding:55px;
  background-color:rgba(255,255,255, 0.5);
}

/* Footer */
footer{
background-color: #ff006e;
color: white;
text-align: center;
padding: 1em 1em;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}
